<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Tüm Ameliyatlar</h3>
                <p class="text-subtitle text-muted">Bu tabloda tüm ameliyatların ortak alanları listelenmektedir.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Ameliyatlar</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tüm Ameliyatlar</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>



    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Tüm Ameliyatlar
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Hasta TC</th>
                            <th>Hasta Adı</th>
                            <th>Doktor Adı</th>
                            <th>Ameliyat Adı</th>
                            <th>Ameliyat Taihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12345678901</td>
                            <td>Ahmet Yılmaz</td>
                            <td>Dr. Ayşe Demir</td>
                            <td>Apandektomi</td>
                            <td>2023-01-15</td>
                        </tr>
                        <tr>
                            <td>98765432109</td>
                            <td>Fatma Kaya</td>
                            <td>Dr. Mehmet Öz</td>
                            <td>Katarakt Ameliyatı</td>
                            <td>2023-02-28</td>
                        </tr>
                        <tr>
                            <td>55566677788</td>
                            <td>Mehmet Toprak</td>
                            <td>Dr. Zeynep Aksoy</td>
                            <td>Kalp Bypass</td>
                            <td>2023-03-10</td>
                        </tr>
                        <tr>
                            <td>11122233344</td>
                            <td>Zeynep Yılmaz</td>
                            <td>Dr. Ali Çelik</td>
                            <td>Ortopedik Cerrahi</td>
                            <td>2023-04-05</td>
                        </tr>
                        <tr>
                            <td>99988877766</td>
                            <td>Can Demir</td>
                            <td>Dr. Aysun Kaya</td>
                            <td>Lazer Epilasyon</td>
                            <td>2023-05-20</td>
                        </tr>
                        <tr>
                            <td>44433322211</td>
                            <td>Ayşe Tokat</td>
                            <td>Dr. Burak Güler</td>
                            <td>Plastik Cerrahi</td>
                            <td>2023-06-12</td>
                        </tr>
                        <tr>
                            <td>77788899900</td>
                            <td>İsmail Korkmaz</td>
                            <td>Dr. Selma Yılmaz</td>
                            <td>Genel Cerrahi</td>
                            <td>2023-07-18</td>
                        </tr>
                        <tr>
                            <td>66655544433</td>
                            <td>Dilek Şahin</td>
                            <td>Dr. Umut Can</td>
                            <td>Endoskopik Cerrahi</td>
                            <td>2023-08-25</td>
                        </tr>
                        <tr>
                            <td>88877766655</td>
                            <td>Mustafa Demirci</td>
                            <td>Dr. Aynur Kaya</td>
                            <td>Tiroid Cerrahisi</td>
                            <td>2023-09-30</td>
                        </tr>
                        <tr>
                            <td>33322211100</td>
                            <td>Nurcan Kılıç</td>
                            <td>Dr. Emre Demir</td>
                            <td>Varis Ameliyatı</td>
                            <td>2023-10-15</td>
                        </tr>
                        <tr>
                            <td>11223344556</td>
                            <td>Sevim Arslan</td>
                            <td>Dr. Hakan Yılmaz</td>
                            <td>Rinoplasti</td>
                            <td>2023-12-20</td>
                        </tr>
                        <tr>
                            <td>78901234567</td>
                            <td>Mehmet Kılıç</td>
                            <td>Dr. Aylin Demir</td>
                            <td>Laparoskopik Cerrahi</td>
                            <td>2024-01-10</td>
                        </tr>
                        <tr>
                            <td>65432109876</td>
                            <td>Elif Çelik</td>
                            <td>Dr. Ferhat Kaya</td>
                            <td>Göğüs Cerrahisi</td>
                            <td>2024-02-18</td>
                        </tr>
                        <tr>
                            <td>13579246801</td>
                            <td>Şehriban Yıldız</td>
                            <td>Dr. Ahmet Aksoy</td>
                            <td>Kemik İliği Nakli</td>
                            <td>2024-03-25</td>
                        </tr>
                        <tr>
                            <td>24680135792</td>
                            <td>Emre Şensoy</td>
                            <td>Dr. Zeliha Yılmaz</td>
                            <td>Hip Replasmanı</td>
                            <td>2024-04-10</td>
                        </tr>
                        <tr>
                            <td>36925814703</td>
                            <td>Deniz Demir</td>
                            <td>Dr. Sevgi Arslan</td>
                            <td>Böbrek Nakli</td>
                            <td>2024-05-15</td>
                        </tr>
                        <tr>
                            <td>98765432109</td>
                            <td>Hakan Can</td>
                            <td>Dr. Yasemin Kaya</td>
                            <td>Femur Kırığı</td>
                            <td>2024-06-22</td>
                        </tr>
                        <tr>
                            <td>65432109876</td>
                            <td>Aslı Erdoğan</td>
                            <td>Dr. Halit Yılmaz</td>
                            <td>Vertebroplasti</td>
                            <td>2024-07-08</td>
                        </tr>
                        <tr>
                            <td>15975346820</td>
                            <td>Levent Türk</td>
                            <td>Dr. Şeyda Demir</td>
                            <td>Perianal Fistül</td>
                            <td>2024-08-20</td>
                        </tr>
                        <tr>
                            <td>95175348620</td>
                            <td>Yasemin Gül</td>
                            <td>Dr. Burak Kaya</td>
                            <td>Kemik Kisti Ameliyatı</td>
                            <td>2024-09-10</td>
                        </tr>
                        <tr>
                            <td>35795124680</td>
                            <td>Metin Şimşek</td>
                            <td>Dr. Sevilay Yılmaz</td>
                            <td>Üreter Taşı</td>
                            <td>2024-10-05</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
