﻿@using SurgiTrackUI.Models

@model AmeliyatViewModel
@{
    ViewData["Title"] = "Kolon Pull Through (Erkek) Ameliyatı Düzenle";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"> @ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <form method="post">


            <div class="form-group mb-3">
                <label asp-for="Ameliyat.HastaId" class="form-label">Hasta Seçin</label>
                <select asp-for="Ameliyat.HastaId" class="form-control">
                    @foreach (var hasta in Model.Hastalar)
                    {
                        <option value="@hasta.Id">@hasta.Ad</option>
                    }
                </select>
                <span asp-validation-for="Ameliyat.HastaId" class="text-danger small"></span>
            </div>


            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.AmeliyatTipi" class="form-label">Ameliyat Tipi</label>
                <input asp-for="KolonPullThroughKadinss.AmeliyatTipi" class="form-control" placeholder="Ameliyat Tipi" />
                <span asp-validation-for="KolonPullThroughKadinss.AmeliyatTipi" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.AmeliyatYapilanBolge" class="form-label">Ameliyat Yapılan Bölge</label>
                <input asp-for="KolonPullThroughKadinss.AmeliyatYapilanBolge" class="form-control" placeholder="Ameliyat Yapılan Bölge" />
                <span asp-validation-for="KolonPullThroughKadinss.AmeliyatYapilanBolge" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.AmeliyatYontemi" class="form-label">Ameliyat Yöntemi</label>
                <input asp-for="KolonPullThroughKadinss.AmeliyatYontemi" class="form-control" placeholder="Ameliyat Yöntemi" />
                <span asp-validation-for="KolonPullThroughKadinss.AmeliyatYontemi" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.GAA_PVI" class="form-label">GAA_PVI</label>
                <input asp-for="KolonPullThroughKadinss.GAA_PVI" class="form-control" placeholder="GAA_PVI" />
                <span asp-validation-for="KolonPullThroughKadinss.GAA_PVI" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.RektumAskiyaAlma" class="form-label">Rektum Askıya Alma</label>
                <input asp-for="KolonPullThroughKadinss.RektumAskiyaAlma" class="form-control" placeholder="Rektum Askıya Alma" />
                <span asp-validation-for="KolonPullThroughKadinss.RektumAskiyaAlma" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.VajenDuvarAyrilmasi" class="form-label">Vajen Duvar Ayrılması</label>
                <input asp-for="KolonPullThroughKadinss.VajenDuvarAyrilmasi" class="form-control" placeholder="Vajen Duvar Ayrılması" />
                <span asp-validation-for="KolonPullThroughKadinss.VajenDuvarAyrilmasi" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.AnusSfinterKoruma" class="form-label">Anüs Sfinter Koruma</label>
                <input asp-for="KolonPullThroughKadinss.AnusSfinterKoruma" class="form-control" placeholder="Anüs Sfinter Koruma" />
                <span asp-validation-for="KolonPullThroughKadinss.AnusSfinterKoruma" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.PullThroughIslemi" class="form-label">Pull Through İşlemi</label>
                <input asp-for="KolonPullThroughKadinss.PullThroughIslemi" class="form-control" placeholder="Pull Through İşlemi" />
                <span asp-validation-for="KolonPullThroughKadinss.PullThroughIslemi" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.AnostomozYapilmasi" class="form-label">Anostomoz Yapılması</label>
                <input asp-for="KolonPullThroughKadinss.AnostomozYapilmasi" class="form-control" placeholder="Anostomoz Yapılması" />
                <span asp-validation-for="KolonPullThroughKadinss.AnostomozYapilmasi" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.VajenHymenKoruma" class="form-label">Vajen Hymen Koruma</label>
                <input asp-for="KolonPullThroughKadinss.VajenHymenKoruma" class="form-control" placeholder="Vajen Hymen Koruma" />
                <span asp-validation-for="KolonPullThroughKadinss.VajenHymenKoruma" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.KanamaKontrolu" class="form-label">Kanama Kontrolü</label>
                <input asp-for="KolonPullThroughKadinss.KanamaKontrolu" class="form-control" placeholder="KanamaKontrolu" />
                <span asp-validation-for="KolonPullThroughKadinss.KanamaKontrolu" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="KolonPullThroughKadinss.KomplikasyonDurumu" class="form-label">Komplikasyon Durumu</label>
                <input asp-for="KolonPullThroughKadinss.KomplikasyonDurumu" class="form-control" placeholder="Komplikasyon Durumu" />
                <span asp-validation-for="KolonPullThroughKadinss.KomplikasyonDurumu" class="text-danger small"></span>
            </div>



            <div class="form-group d-grid mb-3">
                <button type="submit" class=" btn btn-primary"><i class="fa-solid fa-save me-2"></i>Save</button>
            </div>

            <div class="form-group d-grid mb-3">
                <button type="submit" class=" btn btn-primary"><i class="fa-solid fa-save me-2"></i>Save</button>
            </div>
        </form>
    </div>
</div>
